.lc-react-tooltip-with-icon {
  display: inline-block;
  margin-top: 16px;

  .lc-react-tooltip-with-icon__icon {
    display: inline-block;
    font-size: 16px;
    color: #fdb702;
  }

  .lc-react-tooltip__ancor {
    display: inline-block;
  }
}
