// Here we have our color pallette for the site
$c-blue:              #46a8e5;
$c-french-blue:       #3F4AB1;
$c-dark-blue:         #4197CA;
$c-light-blue:        #7CD4F4;
$c-light-blue-two:    #F7FDFF;
$c-dark-sky-blue:     #45A8E5;
$c-night-sky-blue:    #52697C;
$c-teal:              #11BDB8;
$c-grayish-navy:      #52698C;
$c-dark-green:        #A6AE49;
$c-dark-purple:       #9476B4;
$c-light-purple:      #B8A2D0;
$c-yellow-orange:     #FDB702;
$c-sunflower-yellow:  #FFB542;
$c-dark-orange:       #ECA122;
$c-light-orange:      #F4C47A;
$c-dark-pink:         #DB5788;
$c-white-three:       #FAFAFA;
$c-white-four:        #D7D7D7;
$c-black:             #303030;
$c-black-10:          rgba(0, 0, 0, 0.1);
$c-gunmetal:          #444A59;
$c-tangerine:         #F49807;
$c-warm-gray:         #A4A4A4;
$c-warm-gray-two:     #979797;
$c-warm-gray-three:   #757575;
$c-warm-gray-four:    #4a4a4a;
$c-warm-gray-five:    #888888;
$c-warm-gray-six:     #9b9b9b;
$c-white:             #FFF;
$c-grayish:           #B9B9B9;
$c-gray:              #888;
$c-grayish-brown:     #464646;
$c-grayish-brown-three: #4E4E4E;
$c-dark-gray:         #43484D;
$c-light-gray:        #E1E8EE;
$c-light-gray-two:    #F7F7F7;
$c-light-gray-three:  #F4F4F4;
$c-light-gray-four:   #FDFDFD;
$c-light-gray-five:   #F9F9F9;
$c-off-white:         rgba(255, 255, 255, 0.7);
$c-transparent-sky-blue:      #E5F3FA;
$c-transparent-sky-blue-two:  #F3FBFF;
$c-pinkish-gray:      #BFBFBF;
$c-pinkish-gray-two:  #CFCFCF;
$c-brownish-gray:     #6C6C6C;
$c-navy:              #275E7F;
$c-disabled-dark-sky-blue:    #87ABC1;
$c-kiwi:              #B4ED50;
$c-tree-green:        #429321;
$c-currency-green:    #09AE5B;
$c-tangerine:         #F49807;
$c-red:               #EC5454;
$c-negative-red:      #FF5555;
$c-transparent-pink:  #FFF6F9;
$c-transparent-green: #EFFFF6;
$c-transparent-orange:#FFEFE2;
$c-transparent-gray:  rgba(151, 151, 151, 0.22);
$c-icon-gray:         #CCCCD2;
