@import '../../scss/colors';

.lc-generic-table{

	.fixedDataTableCellLayout_main {
		border-width: 0px;
		border-color: transparent;
	}

	.fixedDataTableLayout_main {
		border-width: 0px;
	}

	.fixedDataTableLayout_header {
		border-bottom-width: 2px;
		border-color: $c-warm-gray-two;
	}

	.fixedDataTableLayout_hasBottomBorder{
		border-bottom-width: 0px;
	}

	.fixedDataTableRowLayout_main {
		border-bottom: 1px solid $c-light-gray;
	}

	.public_fixedDataTable_header,
	.public_fixedDataTable_header .public_fixedDataTableCell_main {
		background-image: none;
	}

	.public_Scrollbar_main {
		background-color: $c-white;
		right: -4px;
	}

}
