@import '../../scss/config';
@import '../../scss/colors';

.reset-password-component {
  min-width: $width-tablet;
  width: 100%;
  font-family: 'Open Sans', 'Helvetica Neue';

  .sk-wave {
    margin: auto;
  }

  .lc-row {
    width: 100%;
    display: inline-block; //prevent margin collapsing
  }

  .lc-row--one {
    height: 540px;
    background-color: $c-white-three;

    .lc-row__form {
      padding: 0 20px;
    }
  }
}
