@import '../../scss/colors';

.lc-reset-password-form {

  .lc-field {
    .lc-field__icon {
      color: $c-icon-gray;
    }
  }

  .lc-reset-password-form__button-container {
    text-align: center;
    padding: 15px 12px 0px 12px;

    .lc-reset-password-form__button {
      width: 100%;
      border-radius:5px;
      background-color: $c-dark-sky-blue;
      font-size: 13px;
    	font-weight: 600;
    	font-style: normal;
    	font-stretch: normal;
    	line-height: 1.0;
    	letter-spacing: 0.4px;
    	text-align: center;
    	color: #ffffff;
    }
  }
}
