@import '../../scss/config';
@import '../../scss/colors';

.lc-advisor-dashboard-component {
  min-width: $width-tablet;
  width: 100%;
  font-family: 'Open Sans', 'Helvetica Neue';

  .sk-wave {
    margin: auto;
  }

  .lc-row {
    width: 100%;
    display: inline-block; //prevent margin collapsing
  }

  .lc-row--one {
    .lc-row__form {
      padding: 0 20px;
    }
  }
  .lc-calendar-container {
    margin-top: 20px;
    height: 780px;
  }

  .lc-show-hide-calendar-button-container {
    margin-top: 20px;
    font-weight: bold;
  }

  .lc-fisecal-users-table-component-wrapper {
    max-height: 850px;
    overflow-y: scroll;
  }
}
