@import '../../scss/colors';

.lc-signup-group{
    height: 521px;

  .lc-signup-group__text {
    padding: 52px 0 0 0;
    font-family: 'Open Sans', 'Helvetica Neue';
  }

  .lc-signup-group__title {
    padding: 0 40px;
    font-size: 54px;
    font-weight: 300;
    color: $c-gunmetal;
  }

  .lc-signup-group__subtext {
    margin: 25px 0 32px 0;
    padding: 0 40px;
    opacity: 0.56;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43rem;
    color: #3f464c;
  }

  .lc-field {
    margin: 7px 14px;
    height: 45px;
  	background-color: $c-white-three;
    border-bottom: 2px solid $c-white-four;
  }

}
