@import '../../scss/mixins';
@import '../../scss/colors';

.lc-advisor-connect-info-form {

  .lc-advisor-connect-info-form__row {
    margin-top: 10px;
  }

  .lc-column--left {
    text-align: right;
  }

  .lc-column {
    opacity: 1;
  }

  .lc-column--hidden {
    max-height: 0;
    overflow: hidden;
    float: left;
    transition: max-height 0.5s ease-in-out;
    width: 100%;
  }

  .lc-column--visible {
    height: initial;
    max-height: 400px;
    float:left;
    width: 100%;
  }

  .lc-column--centered {
    text-align: center;
  }

  .column:last-child:not(:first-child),
  .columns:last-child:not(:first-child) {
    float: left;
  }

  .lc-radio-group__label,
  .lc-select-group__label,
  .lc-input-group__label {
  	font-size: 12px;
  	font-weight: 600;
  	color: $c-warm-gray-three;
    display: table;
    width: 100%;
  }

  .lc-text-group__text {
    font-size: 14px;
    color: $c-warm-gray;
  }

  .lc-input-group__text,
  .lc-radio-group__text,
  .lc-select-group__text {
    display: table-cell;
    vertical-align: bottom;
    height: 50px;
  }

  .lc-radio-group__text {
    line-height: inherit !important;
  }

  .lc-button {
    width: 50%;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 600;
    background-color: $c-white-three;
    box-shadow: $form-box-shadow;
    margin-top: 23px;
    &.add-co-client-button {
      margin-top: 50px;
    }
  }

  .lc-column--buttons {
    text-align: center;
    margin-top: 43px;
    font-weight: bold;
    button {
      font-size: 16px !important;
    }
  }

  .lc-advisor-connect-info-form__button {
    display: inline-block;
    padding: 15px 40px;
    border-radius: 6px;
    border: solid 2px $c-pinkish-gray;
    font-size: 14px;
    color: $c-warm-gray;
    margin: 0 50px;
  }

  .lc-advisor-connect-info-form__button--submit {
    background-color: $c-dark-sky-blue;
    color: white;
    border: 2px solid $c-dark-sky-blue;
    width: 300px;
  }

  .lc-advisor-connect-info-form__button[disabled] {
    background-color: $c-disabled-dark-sky-blue;
    border: 2px solid $c-disabled-dark-sky-blue;
  }

  .lc-checkbox-group {
    margin-top: 20px;
  }

  .lc-checkbox-group__label {
    i {
      margin-right: 10px;
    }
    span {
      width: 477px;
      font-family: OpenSans;
      font-size: 16px;
      font-weight: 600;
      color: #777777;
    }
  }
  .lc-radio-group__field-label-text {
    // font-family: OpenSans;
    // font-size: 14px;
    // font-weight: 600;
    // color: #4a4a4a;
  }
}
