@import '../../scss/config';
@import '../../scss/mixins';

.lc-connect-complete {
  background-color: $c-light-gray-two;
  padding: $page-content-margins;
  padding-bottom: 35px;
  height: 100%;

  .lc-connect-complete__content {
    border: solid 1px rgba(150, 150, 150, 0.22);
    background-color: $c-white;
    min-width: $page-min-content-width;
    min-height: $page-min-content-height;
    text-align: center;
    height: 100%;
  }

  .lc-connect-complete__header {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.7px;
    margin: 70px 0 17px 0;
  }

  .lc-connect-complete__text {
    margin-bottom: 55px;
  }

  .lc-connect-complete__button-container {
    margin-top: 65px;
  }

  .lc-connect-complete__anchor:nth-child(2n-1) {
    padding-right: 40px;
  }

}
