@import '../../scss/colors';

.lc-fisecal-users-table-component {
  margin: 40px auto;
  .lc-fisecal-users-table__header {
    background-color: #f1f1f1;
  }
  th, td {
    padding: 0.5rem 0.625rem 0.625rem;
  }
  tr:nth-child(even) {
    background-color: #f1f1f1;
  }
}
