$flHeaderTitleBgColor: #fff;
$flActiveStepperColor: #46a8e5;
$linkColorBlue: #0291ea;

$primaryContentFontFamily: "Open Sans", "Helvetica Neue", "ProximaNovaRegular";
$secondaryContentFontFamily: "Open Sans", "Helvetica Neue", "ProximaNovaSemiBold";
$tertiaryContentFontFamily: "Open Sans", "Helvetica Neue", "ProximaNovaSemiRegular";

$secondaryButtonFontColor: #0291ea;
$primaryButtonBgColor: #46a8e5;
$primaryButtonBghover: #46a8e5;
$secondaryButtonFontColorhover: #0291ea;
